header, nav, main, footer {
  display: block;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #92A8D1;
}

header {
  margin: 0;
  background-color: #F7CAC9;
  display: flex;
  justify-content: space-between;
}

header>h1 {
  display: inline-block;
  margin: 3px 1px 3px 10px;
}

nav {
  margin: 3px 10px 3px 1px;
  display: flex;
  align-items: center;
}

nav>a {
  font-weight: bold;
  font-size: larger;
  color: initial;
  text-decoration: none;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  vertical-align: middle;
}

nav>a:hover {
  background-color: #92A8D1;
}

main {
  width: 80%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 10px;
  height: 100%;
}

footer {
  padding-top: 1px;
  font-size: 0.7em;
  background-color: #F7CAC9;
  text-align: center;
}